:root {
    --bg-color: black;
    --txt-color1: cyan;
    --txt-shadow: rgba(0, 255, 255, 0.3);
    --box-shadow: rgba(0, 167, 167, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-family: "Times new Roman";
    padding-left: 6px;
    font-size: 33px;
    text-decoration: none;
    color: var(--txt-color1);
    text-shadow: 0 0 15px var(--txt-shadow);
}

nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--txt-color1);
    margin: 0;
}

.nav-link {
    height: 20px;
    width: 70px;
    text-align: center;
}

nav div a {
    color: var(--txt-color1);
    text-decoration: none;
}

.hero {
    padding: 100px;
    background-color: white;
}

.container {
    background-color: var(--txt-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100%;*/
}

.title {
    width: 100%;
    color: var(--bg-color);
    background-color: var(--txt-color1);
    margin: 0;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 7px var(--box-shadow);
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
}

.item {
    width: 240px;
    height: 200px;
    border: 2px ridge var(--box-shadow);
    margin: 12px 0;
}

.first {
    width: 290px;
    height: 270px;
}

footer {
    text-align: center;
    color: var(--txt-color1);
    background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
   header h1 a {
        font-size: 43px;
    }

    .nav-link {
        width: 100px;
        margin: 0 50px;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .title {
        flex: 1 0 100%;
        text-align: center;
        top: 66px;
    }

    .item {
        height: 320px;
        width: 350px;
        margin: 15px;
        flex-grow: 0;
    }

    .first {
        height: 350px
        width: 100%;
        flex: 1 100%;
    }

    section {
        display: flex;
    }

    article {
        flex: 1 50%;
        box-shadow: 0 0 3px var(--box-shadow);
    }
}

@media screen and (min-width: 850px) {
    header {
        text-align: center;
    }
   
    .nav-link {
        width: 120px;
        margin: 0 70px;
    }

    .item {
        height: 350px;
        width: 380px;
        margin: 25px;
    }
}