:root {
    --sub-bg-color: black;
    --sub-bg-color2: rgba(152, 140, 130, 0.3);
    --sub-bg-color3: linear-gradient(to bottom right, black, var(--txt-color1));
    --main-bg-color: linear-gradient(to bottom right, var(--txt-color1), rgba(0, 233, 244, 0.7));
    --txt-color1: rgb(0, 222, 233);
    --txt-shadow: rgba(0, 211, 211, 0.4);
    --box-shadow: rgba(0, 133, 133, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

body {
    background-color: var(--txt-color1);
}

/*** Header Section ***/
/* main header */
header {
    background-color: var(--sub-bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-family: "Times new Roman";
    padding-left: 6px;
    font-size: 33px;
    text-decoration: none;
    color: var(--txt-color1);
    text-shadow: 0 0 15px var(--txt-shadow);
}

/* nav section on header */
nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--sub-bg-color2);
    margin: 0;
}

.nav-link {
    height: 20px;
    width: 70px;
    text-align: center;
}

nav div a {
    color: var(--txt-color1);
    text-decoration: none;
}

/*** Hero Section ***/
.hero {
    height: 300px;
    background-image: var(--sub-bg-color3);
}

/*** Main Section (deployed websites) ***/
.container {
    width: auto;
    background-image: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* header for "Work" section */
.title {
    width: 100%;
    color: var(--sub-bg-color);
    background-color: var(--txt-color1);
    margin: 0;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 7px var(--box-shadow);
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

/* Work section elements */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sub-bg-color2);
    padding: 3px;
    border: 3px outset var(--box-shadow);
    border-radius: 17px;
    margin: 12px 0;
    box-shadow: 3px 4px 8px var(--box-shadow);
}

.first {
    margin-top: 20px;
}

/* Work section images */
main div img {
    height: 200px;
    width: 200px;
    flex-grow: 0;
    border: 1px solid black;
    border-radius: 13px 13px 0 0;
}

.first img {
    height: 220px;
    width: 260px;
}

.first p {
    flex: 1 0 100%;
}

/*** Bio and Contact sections ***/
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section article div {
    padding: 8% 10%;
}

#contact div {
    text-align: center;
}

/*** Footer ***/
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--txt-color1);
    background-color: var(--sub-bg-color);
}

/*** Adjustments for screens w/ width from 768px to 957px ***/
@media screen and (min-width: 768px) {
   header h1 a {
        font-size: 43px;
    }

    .nav-link {
        width: 100px;
        margin: 0 50px;
    }

    .hero {
        height: 400px;
        background-color: var(--main-bg-color);
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .title {
        flex: 1 0 100%;
        text-align: center;
        top: 72px;
    }

    main div img {
        height: 280px;
        width: 280px;
    }
    
    .first img {
        height: 370px;
        width: 400px;
    }

    .item {
        margin: 25px;
    }

    .first {
        margin: 22px 110px 10px 110px;
    }
}

/*** Adjustments for screens w/ width from 957px to 1156px ***/
@media screen and (min-width: 957px) {
    header {
        text-align: center;
    }

    header h1 a {
        font-size: 47px;
    }
   
    .nav-link {
        height: 25px;
        width: 120px;
        margin: 0 70px;
    }

    nav div a {
        font-size: 19px;
    }

    .hero {
        height: 550px;
    }

    .title {
        top: 83px;
    }

    .item {
        margin-bottom: 5%;
    }

    .first {
        margin: 30px;
    }

    section {
        flex-direction: row;
        align-items: flex-start;
    }

    article {
        flex: 1 0 50%;
        box-shadow: 0 0 3px var(--box-shadow);
    }
}

/*** Adjustments for screens w/ width 1156px and up ***/
@media screen and (min-width: 1156px) {
    .first {
        margin: 50px;
    }

    main div img {
        height: 330px;
        width: 330px;
    }
    
    .first img {
        height: 420px;
        width: 450px;
    }    
}