:root {
    --bg-color: black;
    --txt-color1: cyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-family: "Times new Roman";
    padding-left: 6px;
    font-size: 33px;
    text-decoration: none;
    color: var(--txt-color1);
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
}

nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--txt-color1);
    margin: 0;
}

.nav-link {
    height: 20px;
    width: 70px;
    text-align: center;
}

nav div a {
    color: var(--txt-color1);
    text-decoration: none;
}

.hero {
    padding: 100px;
    background-color: white;
}

.container {
    background-color: var(--txt-color1);
}

.title {
    color: var(--bg-color);
    background-color: var(--txt-color1);
    margin: 0;
    padding: 0 5px 0 5px;
    box-shadow: 0 2px 4px rgba(0, 188, 0, 0.4);
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}

footer {
    text-align: center;
    color: var(--txt-color1);
    background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
   header h1 a {
        font-size: 43px;
    }

    .nav-link {
        width: 100px;
        margin: 0 50px;
    }

    section {
        display: flex;
    }

    .title {
        text-align: center;
        top: 66px;
    }

    article {
        flex: 1 50%;
        box-shadow: 0 0 3px rgba(0, 166, 0, 0.6);
    }
}

@media screen and (min-width: 980px) {
    header {
        text-align: center;
    }
   
    .nav-link {
        width: 120px;
        margin: 0 70px;
    }
}