* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: #fafafa;
}

a, a:visited  {
    color: slateblue;
}

.container {
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
}

.site-title {
    width: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 5px;
    padding-left: 15px;
    cursor: pointer;
}

.site-title h1 {
    color: darkolivegreen;
}

.nav-menu {
    padding-top: 12px;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-menu.closed {
    padding-left: 5px;
    transition: padding-left .3s ease-in-out;
}

.nav-menu.closed:hover {
    padding-left: 10px;
}

.nav-menu.open {
    padding-left: 10px;
}

nav {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.navlink:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: max-content;
}
  
.footer-left {
    text-align: center;
    font-size: 0.7rem;
}

.footer-left a {
    color: slateblue;
}

.footer-right {
    text-align: center;
}

.footer-link {
    padding: 0 22px;
    position: relative;
    font-size: 1.5rem;
}