:root {
    --dark: #070707;
    --light: #eeeeee;
    --link: slateblue;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a, a:visited  {
    color: var(--link);
}

.container {
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
}

.site-title {
    width: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 5px;
    padding-left: 15px;
    cursor: pointer;
}

.site-title h1 {
    color: var(--light);
}

.current-page-container {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.current-page {
    padding: 3px 7px 3px 15px;
    margin-left: 5px;
    border-left: 1px solid var(--light);
}

.nav-menu-arrow {
    padding: 0;
    margin: 0;
    padding-top: 12px;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-menu-arrow.closed {
    padding-left: 0;
    transition: padding-left .3s ease-in-out;
}

.nav-menu-arrow.closed:hover {
    padding-left: 5px;
}

.nav-menu-arrow.open {
    padding-left: 10px;
}

nav {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.3rem;
    cursor: pointer;
}

.navlink:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: max-content;
}
  
.footer-left {
    text-align: center;
    font-size: 0.7rem;
}

.footer-left a {
    color: slateblue;
}

.footer-right {
    text-align: center;
}

.footer-link {
    margin: 0 22px;
    position: relative;
    font-size: 1.5rem;
    bottom: 0;
    transition: bottom .2s ease-in-out;
}

.footer-link:hover {
    bottom: 3px;
}