:root {
    --dark: #070707;
    --light: #eeeeee;
    --med: #bbbbbb;
    --link: slateblue;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a, a:visited  {
    color: var(--link);
}

.container {
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer svg {
    font-size: .7rem;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
}