.header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-row {
    flex: 0 1 33%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Left, site title */

.header-row.left {
    justify-content: flex-start;
}

.site-title {
    cursor: pointer;
    color: var(--light);
    padding-left: .5rem;
}

.current-page {
    padding: 3px 7px 3px 15px;
    margin-left: 18px;
    border-left: 1px solid var(--light);
}

/* Middle, navbar */

.header-row.middle {
    flex-grow: 1;
    padding-top: 5px;
}

.nav-menu {
    padding: 0;
    margin: 0;
    padding-top: 3px;
    cursor: pointer;
    transform: rotateZ(0deg) rotateX(0deg);
    transition: transform .4s ease-in-out;
}

.nav-menu.open {
    transform: rotateZ(90deg) rotateX(50deg);
}

.nav-menu svg {
    font-size: 1.4rem;
}

.navbar {
    min-width: max-content;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.3rem;
    cursor: pointer;
    margin-inline: 1.2rem;
    border-bottom: 1px solid rgba(255,255,255,0);
    transform: rotateY(0deg);
    transition: border-bottom .25s ease;
}

.navlink:hover {
    border-bottom: 1px solid rgba(255,255,255,1);
}

/* Right, ext-links */

.header-row.right {
    justify-content: flex-end;
    padding-top: 5px;
}

.ext-link {
    margin: 0 12px;
    position: relative;
    font-size: 1.5rem;
    top: 0;
    transition: top .2s ease-in-out;
}

.ext-link:hover {
    top: 3px;
}