.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row {
    flex: 0 1 33%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Left, site title */

.header-row.left {
    justify-content: flex-start;
}

.site-title {
    cursor: pointer;
    color: var(--light);
}

.current-page {
    padding: 3px 7px 3px 15px;
    margin-left: 18px;
    border-left: 1px solid var(--light);
}

/* Middle, navbar */

.header-row.middle {
    flex-grow: 1;
}

.nav-menu {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-menu.closed {
    padding-top: 0;
    transition: padding-top .3s ease-in-out;
}

.nav-menu.closed:hover {
    padding-top: 5px;
}

.nav-menu.open {
    padding-left: 10px;
}

.nav {
    min-width: max-content;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.3rem;
    cursor: pointer;
    margin-inline: 1.2rem;
}

.navlink:hover {
    text-decoration: underline;
}

/* Right, ext-links */

.header-row.right {
    justify-content: flex-end;
}

.ext-link {
    margin: 0 12px;
    position: relative;
    font-size: 1.5rem;
    top: 0;
    transition: top .2s ease-in-out;
}

.ext-link:hover {
    top: 3px;
}