.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.card {
    width: 333px;
    height: 200px;
    box-shadow: 0 2px 3px 0 lightgray;
    border: 1px solid gray;
    border-radius: 9px;
    cursor: pointer;
    transition: box-shadow .1s ease-out;
}

.card:hover {
    box-shadow: 2px 4px 5px 0 lightgray;
}